<h1>Welcome {{name}}!</h1>
<h5>Here are the issues you've created:</h5>
{{#if issues}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each issues}}
                <tr>
                    <td><a href="/issues/edit/{{_id}}"></a>{{title}}</td>
                    <td>{{formatDate createdAt 'DD MMM YYYY, h:mma'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/issues/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/issues/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-float red" type="submit">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td> 
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any issues</p>
{{/if}}